<div class="modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{:: 'organizationEdit.editOrganization' | message}}</h1>
      </div>
      <div class="modal-body">
        <form id="edit-organization-form" ng-submit="vm.saveOrganization()">
          <label for="organization-name">{{:: 'organizationEdit.organizationName' | message}}</label>
          <input type="text" id="organization-name" ng-model="vm.editedOrganization.name" required>
          <fieldset class="form-group">
            <label for="organization-disabled">
                 <input id="organization-disabled" type="checkbox" ng-model="vm.editedOrganization.disabled" />
                 {{:: 'organizationEdit.disabled' | message}}
            </label>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel" ng-click="vm.goToPreviousState()">
          {{:: 'organizationEdit.cancel' | message}}
        </button>
        <button class="primary" form="edit-organization-form">
          {{:: 'organizationEdit.update' | message}}
        </button>
      </div>
    </div>
  </div>
</div>
