<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 613px">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    <h2>{{'adminOrderableEdit.associatedFtaps' | message}}</h2>
                </h1>
            </div>
            <div class="modal-body">
                <section class="openlmis-table-container">
                    <button ng-if="vm.canEdit" id="add-facility-type-approved-product" class="add" ui-sref="openlmis.administration.orderables.ftap.add">
                        {{'adminOrderableEdit.addFtap' | message}}
                    </button>
                    <table>
                        <caption ng-if="!vm.facilityTypeApprovedProducts || vm.facilityTypeApprovedProducts.length === 0">
                            {{'adminOrderableEdit.noAssociatedFtaps' | message}}
                        </caption>
                        <thead>
                        <tr>
                            <th>{{'adminOrderableEdit.facilityType' | message}}</th>
                            <th>{{'adminOrderableEdit.programs' | message}}</th>
                            <th>{{'adminOrderableEdit.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="is-secondary" ng-repeat-start="(id, ftaps) in vm.ftapsMap">
                            <td>{{vm.facilityTypesMap[id]}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="ftap in ftaps">
                            <td></td>
                            <td>{{ftap.program.name}}</td>
                            <td>
                                <button ng-if="vm.canEdit"
                                        class="danger" ng-click="vm.deactivateFacilityTypeApproveProduct(ftap)">{{'adminOrderableEdit.remove' | message}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button class="primary" ng-click="vm.goToFacilityList()">{{'orderableAddPrograms.save' | message}}</button>
                <button ng-click="vm.goToFacilityList()">{{'orderableAddPrograms.cancel' | message}}</button>
            </div>
        </div>
    </div>
</div>