<header>
    <h2>{{'reports.embedded.label' | message}}</h2>
</header>
<div style="display:flex">
    <div class="openlmis-table-container" ng-repeat="(categoryName, reports) in vm.result">
        <table>
            <caption class="error" ng-show="reports.length === 0">
                {{'report.noReports' | message}}
            </caption>
            <thead>
            <tr>
                <th>{{categoryName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in reports">
                <td>
                    <a ng-click="vm.openEmbeddedReport(report.id)">{{report.name | message}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
