<ng-transclude ng-if="$ctrl.tableConfig.hasCustomTemplate"></ng-transclude>
<table ng-if="!$ctrl.tableConfig.hasCustomTemplate">
    <caption ng-if="$ctrl.tableConfig.displayCaption">
        {{$ctrl.tableConfig.caption | message}}
    </caption>
    <thead ng-if="$ctrl.headersConfiguration">
        <tr>
            <th
                ng-repeat="column in $ctrl.tableConfig.columns"
                ng-click="$ctrl.sortTable(column)"
                ng-if="$ctrl.headersConfiguration[$index].isDisplayed"
                class="{{column.class}}"
                ng-class="{'header-sortable': $ctrl.isColumnSortable(column)}">
                <openlmis-table-header-template
                    header-config="$ctrl.headersConfiguration[$index]"></openlmis-table-header-template>
            </th>
            <th ng-if="$ctrl.tableConfig.actions">{{ $ctrl.tableConfig.actions.header | message }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="$ctrl.elementsConfiguration" ng-repeat="element in $ctrl.tableConfig.data" ng-init="parentIndex=$index">
            <td ng-repeat="column in $ctrl.tableConfig.columns"
                ng-init="childIndex=$index"
                ng-if="$ctrl.elementsConfiguration[parentIndex][$index].displayCell"
                class="{{column.cellClasses ? column.cellClasses : '' }}"
                popover-template="{{ column.popover.template }}"
                popover-title="{{ column.popover.title | message }}">
                <openlmis-table-element-template element-config="$ctrl.elementsConfiguration[parentIndex][childIndex]"></openlmis-table-element-template>
            </td>
            <td ng-if="$ctrl.tableConfig.actions">
                <openlmis-table-actions actions-config="$ctrl.tableConfig.actions" item="element"></openlmis-table-actions>
            </td>
        </tr>
    </tbody>
</table>
