.openlmis-table-container {
  // Style the scrollbar thumb
  .ps-scrollbar-x {
    z-index: 5;
    height: 10px !important;
    background-color: #333 !important;
    border-radius: 5px; // Added rounded corners for better appearance
  }

  // Style the scrollbar rail in both LTR and RTL
  .ps-scrollbar-x-rail, .ps-scrollbar-x-rail:not(hover) {
    bottom: calc(var(--bottom-offset) * 1px) !important;
    background-color: darken($light-gray, 5) !important;
    height: 14px !important;
    opacity: 1.0 !important;
    z-index: 10;
    border-radius: unset; // Remove border-radius from the rail
  }

  // Adjustments for RTL layout
  [dir="rtl"] .ps-scrollbar-x-rail {
    left: auto;
    right: 0 !important;
    direction: rtl; // Ensure the direction is explicitly set
  }
}

// Default bottom-offset for positioning the scrollbar
html {
  --bottom-offset: 0;
}
