.alerts-panel-wrapper {
    margin-top: 1rem;
    font-size: 17px;
    background-color: transparent;

    .alerts-panel {
        background-color: $white;
        @include flex-layout(row, space-between);
        box-shadow: 0 0 .5rem rgba(black, .3);

        .header-section {
            background-color: $very-light-gray;
            padding: $font-size;
            display: grid;
            place-items: center;
        }

        .alert-section {
            @include flex-layout(column, $gap: .5rem);
            padding: $font-size;

            .section-data {
                @include flex-layout(column, $gap: .5rem);
            }
        }
    }
}
