.alerts-panel-wrapper {
    margin-top: 1rem;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid rgba(black, .1);

    .alerts-panel {
        @include flex-layout(row, space-between);

        .header-section {
            padding: $font-size;
            display: grid;
            place-items: center;
            border-right: 1px solid rgba(black, .1);
        }

        .alert-section {
            @include flex-layout(column, $gap: .5rem);
            padding: $font-size;

            .section-data {
                @include flex-layout(column, $gap: .5rem);

                .important-information {
                    font-weight: bold;
                    font-size: 19px;
                }
            }
        }
    }
}
