<div class="alerts-panel-wrapper">
    <div class="alerts-panel">
        <section class="header-section">
            <strong>
                {{:: 'alerts.panel.title' | message}}
            </strong>
        </section>
        <section class="alert-section">
            <strong>
                {{:: 'label.requisitionsToBeCreated' | message }}
            </strong>
            <div class="section-data">
                <span>
                    {{ $ctrl.requisitionsToBeCreated }}
                </span>
            </div>
        </section>
        <section class="alert-section">
            <strong>
                {{:: 'label.messagesIssuedBySystem' | message }}
            </strong>
            <div class="section-data">
                <span>
                    -
                </span>
            </div>
        </section>
        <section class="alert-section">
            <strong>
                {{:: 'label.lateCreationOfInventories' | message }}
            </strong>
            <div class="section-data">
                <span>
                    -
                </span>
            </div>
        </section>
        <section class="alert-section">
            <strong>
                {{:: 'label.updatesOfRequisitions' | message }}
            </strong>
            <div class="section-data">
                <span ng-if="$ctrl.requisitionsStatusesStats"
                    ng-repeat="stat in $ctrl.requisitionsStatusesStats">
                    {{stat.key}}: {{stat.value}}
                </span>
            </div>
        </section>
        <section class="alert-section">
            <strong>
                {{:: 'label.updatesOfOrdersAndPod' | message }}
            </strong>
            <div class="section-data">
                <span ng-if="$ctrl.ordersStatusesStats"
                    ng-repeat="stat in $ctrl.ordersStatusesStats">
                    {{stat.key}}: {{stat.value}}
                </span>
            </div>
        </section>
    </div>
</div>
