<div class="modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{:: 'adminReportAdd.title' | message}}</h2>
      </div>
      <div class="modal-body">
        <form id="addReport">
          <fieldset class="form-group">
            <label for="name" class="is-required"
            >{{:: 'adminReportAdd.name' | message}}</label
            >
            <div
                    class="input-control"
                    ng-class="{'is-invalid': vm.invalidFields.has('name')}"
            >
              <input
                      type="text"
                      id="name"
                      style="width: 100%"
                      ng-model="vm.report.name"
                      ng-change="vm.validateField(vm.report.name, 'name')"
                      required
              />
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('name')">
              <li>{{'adminReportAdd.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="URL" class="is-required"
            >{{:: 'adminReportAdd.URL' | message}}</label
            >
            <div
                    class="input-control"
                    ng-class="{'is-invalid': vm.invalidFields.has('url')}"
            >
              <input
                      type="text"
                      id="URL"
                      style="width: 100%"
                      ng-model="vm.report.url"
                      ng-change="vm.validateField(vm.report.url, 'url')"
                      required
              />
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('url')">
              <li>{{'adminReportAdd.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="category" class="is-required"
            >{{:: 'adminReportAdd.category' | message}}</label
            >
            <div
                    class="input-control"
                    ng-class="{'is-invalid': vm.invalidFields.has('category')}"
            >
              <select
                      id="category"
                      ng-change="vm.validateField(vm.report.category, 'category')"
                      ng-model="vm.report.category"
                      ng-options="category.name for category in vm.categories"
                      required
              ></select>
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('category')">
              <li>{{'adminReportAdd.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="enabled">
              <input id="enabled" type="checkbox" ng-model="vm.report.enabled"/>
              {{:: 'adminReportAdd.enabled' | message}}
            </label>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel" ng-click="vm.goBack()">
          {{:: 'adminReportAdd.cancel' | message}}
        </button>
        <button class="primary" ng-click="vm.add()">
          {{:: 'adminReportAdd.add' | message}}
        </button>
      </div>
    </div>
  </div>
</div>
