<h2>{{'adminReportAdd.title' | message}}</h2>
<form id="addReport">
  <fieldset class="form-group">
    <label for="name" class="is-required"
      >{{'adminReportAdd.name' | message}}</label
    >
    <div
      class="input-control"
      ng-class="{'is-invalid': vm.invalidFields.has('name')}"
    >
      <input
        type="text"
        id="name"
        ng-model="vm.name"
        ng-change="vm.validateField(vm.name, 'name')"
        required
      />
    </div>
    <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('name')">
      <li>{{'adminReportAdd.fieldRequired' | message}}</li>
    </ul>
  </fieldset>
  <fieldset class="form-group">
    <label for="URL" class="is-required"
      >{{'adminReportAdd.URL' | message}}</label
    >
    <div
      class="input-control"
      ng-class="{'is-invalid': vm.invalidFields.has('URL')}"
    >
      <input
        type="text"
        id="URL"
        ng-model="vm.URL"
        ng-change="vm.validateField(vm.URL, 'URL')"
        required
      />
    </div>
    <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('URL')">
      <li>{{'adminReportAdd.fieldRequired' | message}}</li>
    </ul>
  </fieldset>
  <fieldset class="form-group">
    <label for="category" class="is-required"
      >{{'adminReportAdd.category' | message}}</label
    >
    <div
      class="input-control"
      ng-class="{'is-invalid': vm.invalidFields.has('category')}"
    >
      <select
        id="role"
        ng-change="vm.validateField(vm.category, 'category')"
        ng-model="vm.role"
        required
      ></select>
    </div>
    <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('category')">
      <li>{{'adminReportAdd.fieldRequired' | message}}</li>
    </ul>
  </fieldset>
</form>
<div class="openlmis-toolbar">
  <button ng-click="vm.goBack()">{{'adminReportAdd.cancel' | message}}</button>
  <button ng-click="vm.add()" class="primary">
    {{'adminReportAdd.add' | message}}
  </button>
</div>
