<!-- OAM-18: Homepage UI alerts -->
<openlmis-home-alerts-panel></openlmis-home-alerts-panel>
<!-- OAM-18: ends here -->
<div class="home-page">
    <h2>{{'openlmisHome.welcome' | message}}</h2>
    <!-- ANGOLASUP-510: Create Leaderboard -->
    <!-- ANGOLASUP-601: Leaderboards deactivated temporarily -->
    <!-- <div class="home-content">
        <div class="ranking-dashboard" ng-if="!vm.isOffline && vm.isAuthorized">
            <iframe seamless="" frameborder="0" scrolling="auto" width="100%" height="370"
            ng-src="{{vm.dashboardMostActive}}"
            class="ng-scope" >
            </iframe>
            <iframe seamless="" frameborder="0" scrolling="auto" width="100%" height="370"
            ng-src="{{vm.dashboardLeastActive}}"
            class="ng-scope" >
            </iframe>
        </div> -->
        <!-- ANGOLASUP-601: ends here -->
        <div class="system-notification-list" ng-if="!vm.isOffline">
          <h2> {{'openlmisSystemNotifications.systemNotifications' | message}} </h2>
          <h3 ng-if="!vm.homePageSystemNotifications || vm.homePageSystemNotifications.length === 0">
            {{'openlmisSystemNotifications.noSystemNotifications' | message}}
          </h3>
          <div class="scroll">
            <div ng-repeat="systemNotification in vm.homePageSystemNotifications | orderBy: '-createdDate'">
              <openlmis-message
                      message-title="systemNotification.title"
                      user-first-name="systemNotification.author.firstName"
                      user-last-name="systemNotification.author.lastName"
                      message-content="systemNotification.message"
                      created-date="systemNotification.createdDate">
              </openlmis-message>
            </div>
          </div>
        </div>
    </div>
    <!-- ANGOLASUP-510: ends here -->
  </div>