<!-- AO-484: Added condition to show selected file in div container -->
<div ng-if="isMultipleSelectionEnabled() && showSelectedFile" ng-repeat="file in getViewValue()">
<!-- AO-484: ends here -->
    <span class="file-icon"></span>
    <p>{{getFileName($index)}}</p>
    <span class="clear" ng-click="clear($index)"></span>
</div>
<!-- AO-484: Added condition to show selected file in div container -->
<div ng-if="!isMultipleSelectionEnabled() && showSelectedFile">
<!-- AO-484: ends here -->
    <span class="file-icon"></span>
    <p>{{getFileName()}}</p>
    <span class="clear" ng-click="clear()"></span>
</div>
<button ng-if="isMultipleSelectionEnabled() || !getFileName()" class="file" type="button" ng-click="select()">{{'openlmisFileUpload.selectFile' | message}}</button>
