<h2 ng-if="vm.facility && vm.program">
    {{'stockPriceChanges.title' | message: { 'facility': vm.facility.name, 'program': vm.program.name} }}
</h2>
<h2 ng-hide="vm.facility && vm.program">{{'stockPriceChanges.title' | message}}</h2>
<form ng-submit="vm.loadStockCardSummaries()" class="sidebar">
    <openlmis-facility-program-select
            is-supervised="vm.isSupervised"
            facility="vm.facility"
            program="vm.program"
            module="'stock-card-summary-list'">
    </openlmis-facility-program-select>
    <input type="submit" value="{{'stockCardSummaryList.search'|message}}"/>
</form>
<section class="openlmis-table-container">
    <form ng-submit="vm.search()" openlmis-table-filter>
        <fieldset class="form-group">
            <label for="includeInactive">
                <input id="includeInactive"
                       type="checkbox"
                       name="includeInactive"
                       ng-true-value="'true'"
                       ng-false-value="'false'"
                       ng-model="vm.includeInactive"/>
                {{'stockPhysicalInventoryDraft.includeInactiveItems' | message}}
            </label>

            <label for="productCode">{{'stockCardSummaryList.productCode' | message}}</label>
            <input id="productCode" type="text" ng-model="vm.productCode"/>

            <label for="productName">{{'stockCardSummaryList.productName' | message}}</label>
            <input id="productName" type="text" ng-model="vm.productName"/>

            <input type="submit" value="{{'stockCardSummaryList.search' | message}}"/>
        </fieldset>
    </form>
    <table>
        <caption ng-if="!vm.displayStockCardSummaries.length">
            {{'stockCardSummaryList.noProducts' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'stockCardSummaryList.productCode' | message}}</th>
            <th>{{'stockCardSummaryList.product' | message}}</th>
            <th>{{'stockCardSummaryList.unitPrice' | message}}</th>
            <th>{{'stockCardSummaryList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="is-secondary" ng-if="vm.displayStockCardSummaries.length > 0" ng-repeat="summary in vm.displayStockCardSummaries">
            <td>{{summary.orderable.productCode}}</td>
            <td>{{summary.orderable.fullProductName}}</td>
            <td>{{summary.pricePerPack | openlmisCurrency}}</td>
            <td>
                <button type="button" ng-click="vm.viewSingleProduct(summary.orderable.id)" class="primary">
                    {{'stockCardSummaryList.view'| message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination list="vm.displayStockCardSummaries" paged-list="vm.pagedList" pagination-id="'stockCardList'"/>
</section>